@charset "utf-8";
.books .section-slide{
    height: 455px;
}
.sw-books{
    height: 100%;
}
.books-link{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.books-img{
    width: 100%;
    height: 100%;
    position: relative;
}
.books-img img{
    width: 100%;
    height: 100%;
    
}
    